/* your styles go here */

#intro .item {
  min-height: 100%;
  background: url('../img/lol9.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  padding-top: 200px;
  padding-bottom: 120px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.navbar ul.nav > li > a:hover {
  border-top: solid 3px #FF7F00;
}

.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: solid 3px #FF7F00;
}

.testimonials .item .testimonial .bottom .icon {
  color: #FF7F00;
  font-size: 30px;
  float: left;
  width: 20%;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #FF7F00;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #FF7F00;
}

.navbar-brand {
  float: left;
  padding: 30px 15px;
  color: #FF7F00;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  height: 80px;
  letter-spacing: 0.1em;
}

.navbar-default .navbar-brand {
  color: #FF7F00;
}

.navbar-default .navbar-toggle {
  border-color: #FF7F00;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FF7F00;
}
.navbar-default .navbar-collapse {
  border-color: #FF7F00;
}

a {
  color: #FF7F00;
  text-decoration: none;
}

.btn-primary {
  color: #FF7F00;
  background-color: #ffffff;
  border-color: #FF7F00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FF7F00;
  background-color: #ebebeb;
  border-color: #4d8e5c;
}

.navbar-default {
  background-color: #222222;
  border-bottom-color: #222222;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #555555;
  background-color: transparent;
}